body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

#welcome {
    display: table;
    background: linear-gradient(#07f7bf 0%, #307ab3 100%);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 800px;
    color: azure;
    opacity: 0.80;
    width: 100%;
    z-index: 9;
}

.pic {
    border-radius: 50%;
    width: 175px;
    margin-top: 50px;
}

#biograph {
    font-size: 15px;
    color: black;
    text-align: center;
}

.line {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    width: 20px;
    margin: 10px auto;
}

h1 {
    font-size: 30px;
    font-family: cursive;
}

#name {
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

.links {
    color: aquamarine;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: darkblue;
    text-shadow: 2px 2px gainsboro;
}

.article:hover {
    color: aqua;
}

#writings a {
    text-decoration: underline !important;
    color: blue !important;
    text-shadow: none !important;
}

#contact h3 {
    display: inline;
}

.my_nav_bar {
    position: sticky;
    top:0;
    z-index:99999;
}
input {
    background:grey;
}